body{
    color: #40514E;
    margin: 0;
    text-align: center;
/* font-style: Helvetica Neue, Helvetica, Arial, sans-serif; */
 font-family: 'Prosto One', cursive; 
}

h1{
    color:#66BFBF;
    margin: 50px auto 0 auto;
     font-family: 'Sacramento', cursive; 
     font-size: 5.625rem;
  
}
.a{
    
    line-height: 1;
    color:#66BFBF;
    font-size: 2rem;
   
   
}
p{
    line-height: 2;
}
h2{
    font-weight: normal;
    line-height: 1;
    color: #66BFBF;
    font-family: 'Prosto One', cursive;
}
h3{
    color: #66BFBF;
    font-family: 'Prosto One', cursive;
}

.top-container{
    background-color: #E4F9F5;
    width: auto;
    height: auto;
    padding: 20px;
    position: relative;
    padding-top: 100px;
   
}

.middle-container{
   padding-top: 100px;
}

.bottom-container{
    margin-top: 80px;
   background-color: #66BFBF;
   padding: 50px 0 20px;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    bottom: 320px;
    left: 100px;
    size-adjust: auto;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 100px;
}
.profile-picture{
    height: 250px ;
    width: 250px;
    border-radius: 50%;
    
}
.programmer-photo{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.video-editing-photo{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    /* line-height: 2; */
}

.profile-description{
    margin: auto;
    width: 50%;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
/* .web-development-description{
    clear: left;
}

.video-editing-description{
    clear: right;
} */


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Prosto One', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }

  a{
    color: #11999E;
    font-family: 'Prosto One', cursive;
    margin: 10px 20px;
    text-decoration: none;
}
  a:hover{
    color: #EAF6F6;
  }

  .copyright{
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px 0px ;
  }